body{
    margin: 0;
    padding: 0;
    background: url(http://wallpoper.com/images/00/31/33/51/black-background_00313351.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.loginbox{
	width: 320px;
	height: 420px;
	background: #000;
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 60px 25px;
}

.avatar{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
	background: #ffff;
}

h1{
	margin: 0;
	padding: 0 0 0px;
	text-align: center;
	font-size: 24px;
}

div p.subtitle{
	margin: 5px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 15px;
}

.loginbox p{
	margin: 0;
	padding: 0;
	font-weight: bold;
}

.loginbox input{
	width: 100%;
	margin-bottom: 12px;
}

.loginbox input[type="text"], input[type="password"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 35px;
	color: #fff;
	font-size: 16px;
}

.loginbox input[type="submit"]
{
	border: 2px solid #fff;
	outline: none;
	height: 40px;
	background: #fb2525;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	width: 49%;
	text-align: center;
	border-radius: 20px;
	
}

.loginbox input[type="submit"]:hover
{
	cursor: pointer;
	background: #ffc107;
	color:#000;
}

.loginbox input[type="checkbox"]
{
	width: 15%;
	margin: 0px 0px 15px 0px
}

.loginbox a{
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color: darkgrey;
}

.loginbox a:hover
{
	color: #ffc107;
}


/*
input.signup{
	width: 49%;
	margin-top: 4px;
	float: left;

}

input.login{
	width: 49%;
	margin-top: 4px;
	float: right;
}















































